* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}
body {
    height: 100%;
}

#root {
    height: 100%;
}

/* Input tag */
/*
input:-webkit-autofill {
    background-clip: text;
    -webkit-background-clip: text;
}
*/
/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #223;
}

::-webkit-scrollbar-thumb:hover {
    background: #223;
}
