#background {
    background: #c33764; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #1d2671,
        #c33764
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1d2671, #c33764);
}

#background .circle1 {
    color: yellow;
    width: 60px;
    height: 60px;
}
