@media only screen and (max-width: 800px) {
    .contact-list {
        width: 100%;
    }

    #contacts {
        width: 100%;
    }

    #inbox {
        width: 100%;
    }

    .hide {
        display: none;
    }
}
